@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';
// @use '@ui/styles/functions' as fn;

@include m.b(row-form) {
  width: 100%;
  border-collapse: collapse;
  border: var(--u-border);
  overflow-x: scroll;

  .header {
    // var(--u-bg-color-top)
    background-color: fn.use-var(color-primary-light-9);
    border-bottom: var(--u-border);
  }

  @include m.e(thead) {
    @extend .header;
  }

  @include m.e(th) {
    border-bottom: var(--u-border);

    .u-row-form-require__th {
      color: #f00;
    }
  }
  //
  @include m.e(tbody) {
    width: 100%;
    max-height: 500px;

    tr {
      min-height: 80px;
    }

    tr:hover {
      background-color: fn.use-var(color-info-light-9);
    }
  }

  &--data {
    width: 200px;
    position: static;
    background-color: fn.use-var(color-info-light-1);
  }

  @include m.e(th-action-columns) {
    width: 200px;
    position: static;
    background: fn.use-var(color-info-light-1);
    box-shadow: 10px;
    display: inline-block;
    @extend .header;
  }
}

@include m.b(row-form-button) {
  width: 100%;
  height: 35px;
  line-height: 33px;
  border-radius: fn.use-var(radius);
  border: 1px solid #dcdfe6;
  cursor: pointer;
}
