@use 'pkg:@ultra-ui/styles/mixins' as m;

@include m.b(ripple) {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.2);
  pointer-events: none;
  border-radius: 50%;
  will-change: transform;
  z-index: 0;
  opacity: 0.6;
  transform: scale3d(0.2, 0.2, 1);
  transform-origin: center;
  transition-property: transform, opacity !important;
  transition-timing-function: cubic-bezier(0.82, 0.84, 0.28, 0.92) !important;
  transition-duration: 300ms;

  @include m.is(removing) {
    opacity: 0 !important;
  }
}
