@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

@include m.b(virtual-scroll) {
  position: relative;

  @include m.e(container) {
    position: relative;
    contain: strict;
  }

  @include m.e(content) {
    position: absolute;
    top: 0;
    left: 0;
    contain: content;
    min-height: 100%;
    min-width: 100%;
    will-change: transform;
  }

  @include m.e(spacer) {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
