@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

// 方便拼接
$root-name: cascade;
$menu-name: $root-name + '-menu';

@include m.b($root-name) {
  width: 100%;

  @include m.is(multiple) {
    box-shadow: inset 0 0 1px 1px fn.use-var(border, color);
    transition: box-shadow 0.25s ease;
    overflow: hidden;
    cursor: pointer;

    @include m.flex($display: inline-flex);

    &:hover {
      // 悬浮时边框颜色为 var(--u-color-primary);
      box-shadow: inset 0 0 1px 1px fn.use-var(color, primary);
    }
  }

  @include m.size using ($size) {
    @include m.is(multiple) {
      min-height: fn.use-var(form-component-height, $size);
      border-radius: fn.use-var(radius, $size);
      padding: calc(
          (fn.use-var(form-component-height, $size) - fn.use-var(tag, $size)) /
            2
        )
        calc(fn.use-var(gap, $size) / 2);

      @include m.bem($root-name, clear) {
        font-size: fn.use-var(font-size-main, $size);
      }

      @include m.bem($root-name, tags) {
        gap: calc(
          (fn.use-var(form-component-height, $size) - fn.use-var(tag, $size)) /
            2
        );
      }
    }
  }

  @include m.e(content) {
    display: flex;
  }

  @include m.e(ripple) {
    background-color: fn.use-var(color, primary, light-7);
    opacity: 0.5;
  }

  @include m.e(empty) {
    text-align: center;
  }

  @include m.e(panel-filter) {
    padding: 4px 0;
  }

  @include m.e(tags) {
    flex-grow: 1;
    @include m.flex($justify: flex-start, $align: center, $wrap: wrap);
  }
}

@include m.b($menu-name) {
  padding: 4px 0;
  height: 200px;
  min-width: 160px;
  &:not(:last-child) {
    border-right: fn.use-var(border);
  }

  @include m.e(item) {
    padding: 4px 6px;
    cursor: pointer;
    user-select: none;
    gap: 4px;
    @include m.flex($justify: space-between);

    &:hover {
      background-color: fn.use-var(color, primary, light-9);
    }

    @include m.is(selected) {
      background-color: fn.use-var(color, primary);
      color: fn.use-var(text-color, white);
    }
  }

  @include m.e(item-label) {
    flex-grow: 1;
  }

  @include m.e(item-expand, item-checkbox) {
    flex-shrink: 0;
  }
}
