@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

// 方便拼接
$root-name: cascade;
$dropdown-name: dropdown;

@include m.b($root-name) {
  width: 100%;

  @include m.e(content) {
    display: flex;
  }

  @include m.e(ripple) {
    background-color: fn.use-var(color, primary, light-7);
    opacity: 0.5;
  }

  @include m.e(empty) {
    text-align: center;
  }

  @include m.e(panel) {
    padding: 4px 0;
    height: 200px;
    min-width: 160px;
    &:not(:last-child) {
      border-right: fn.use-var(border);
    }
  }

  @include m.e(panel-item) {
    padding: 4px 6px;
    cursor: pointer;
    user-select: none;
    @include m.flex($justify: space-between);

    &:hover {
      background-color: fn.use-var(color, primary, light-9);
    }

    @include m.is(selected) {
      background-color: fn.use-var(color, primary);
      color: fn.use-var(text-color, white);
    }
  }
}
