@use 'vars';
@use 'sass:list';
@use 'sass:map';
@use 'functions' as fn;

/** flex布局 */
@mixin flex(
  $display: flex,
  $justify: flex-start,
  $align: center,
  $wrap: nowrap
) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

/*
* 组件尺寸
* 参数为生效的form-size属性
* 例如:
* 使用$form-component-sizes中的属性, 表示使用表单组件中的sizes
* @include component-size($form-component-sizes)
*/
@mixin component-size($sizes) {
  @each $size, $size-types in $sizes {
    &--#{$size} {
      @content ($size, $size-types);
    }
  }
}

@mixin b($blocks...) {
  @each $block in $blocks {
    .#{vars.$namespace}#{$block} {
      @content;
    }
  }
}

@mixin e($elements...) {
  $selector-list: null;

  @each $element in $elements {
    @if ($selector-list != null) {
      $selector-list: $selector-list + ', &__' + $element;
    } @else {
      $selector-list: '&__' + #{$element};
    }
  }

  #{$selector-list} {
    @content;
  }
}

@mixin m($modifiers) {
  @each $modifier in $modifiers {
    &--#{$modifier} {
      @content;
    }
  }
}

@mixin is($types...) {
  @each $type in $types {
    &.is-#{$type} {
      @content;
    }
  }
}

@mixin bem($b, $e: null, $m: null) {
  $b: '.' + vars.$namespace + $b;

  @if ($e != null) {
    @each $ei in $e {
      @if ($m != null) {
        @each $mi in $m {
          #{$b + '__' + $ei + '--' + $mi} {
            @content;
          }
        }
      } @else {
        #{$b + '__' + $ei} {
          @content;
        }
      }
    }
  } @else {
    #{$b} {
      @content;
    }
  }
}

/**
* 设置css变量
* 参数1:变量前缀
* 参数2: 一个由值组成的列表或者由key, value组成的map
* css-var(height, (
*   large: 40px
*   default: 32px
*   small: 24px
* ))
* 生成的css变量:
* --u-height-large: 40px;
* --u-height-default: 32px;
* --u-height-small: 24px;
*/
@mixin css-var($prefix, $list) {
  @each $type, $value in $list {
    @if $value == null {
      --#{vars.$namespace}#{$prefix}: #{$type};
    } @else {
      --#{vars.$namespace}#{$prefix}-#{$type}: #{$value};
    }
  }
}

@function breakpoint($point) {
  @return map.get(vars.$breakpoints, $point);
}

@mixin xs {
  @media screen and (min-width: 0) and (max-width: breakpoint(xs)) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: breakpoint(xs)) and (max-width: breakpoint(sm)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: breakpoint(sm)) and (max-width: breakpoint(md)) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: breakpoint( md)) and (max-width: breakpoint(lg)) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: breakpoint(lg)) {
    @content;
  }
}


