$namespace: 'u-';

// 表单组件尺寸
$form-sizes: (
  small: (
    height: 24px,
    padding: 0 8px,
    font-size: 12px
  ),

  default: (
    height: 32px,
    padding: 0 12px,
    font-size: 14px
  ),

  large: (
    height: 40px,
    padding: 0 16px,
    font-size: 14px
  )
);

// 颜色类别
$color-types: (
  // 品牌色
  primary: #409eff,
  // 成功色
  success: #67c23a,
  // 警告色
  warning: #e6a23c,
  // 危险色
  danger: #f56c6c,
  // 信息色
  info: #909399
);
