@use 'sass:map';

$namespace: 'u-';

// 定义size的函数, 保证size-type的统一性
@function size-vars($sizes...) {
  $size-types: (small, default, large);
  $size-result: ();

  @for $i from 1 through length($size-types) {
    $size-result: map.merge(
      $size-result,
      (#{nth($size-types, $i)}: nth($sizes, $i))
    );
  }
  @return $size-result;
}

// 表单组件尺寸
$form-component-sizes: size-vars(
  (
    height: 24px,
    padding: 0 8px,
    font-size: 12px
  ),
  (
    height: 32px,
    padding: 0 12px,
    font-size: 14px
  ),
  (
    height: 40px,
    padding: 0 16px,
    font-size: 14px
  )
);

// 卡片组件尺寸
$card-sizes: size-vars(
  (
    padding: 6px
  ),
  (
    padding: 8px
  ),
  (
    padding: 12px
  )
);

// 颜色类别
$color-types: (
  // 品牌色
  primary: #3F51B5,
  // 成功色
  success: #4CAF50,
  // 警告色
  warning: #FFC107,
  // 危险色
  danger: #F44336,
  // 信息色
  info: #009688
);
