// 主题主要由色彩, 大小, 圆角, 阴影, 字体, 边框构成
// 其中色彩又分为文字颜色, 背景颜色
@use 'mixins' as m;
@use 'functions' as fn;
@use 'vars';

// theme-vars
:root {
  // 颜色类别
  // 品牌色
  // primary: #409eff,
  // 成功色
  // success: #67c23a,
  // 警告色
  // warning: #e6a23c,
  // 危险色
  // danger: #f56c6c,
  // 信息色
  // info: #909399

  @include m.css-var(color, vars.$color-types);

  // 背景色
  @include m.css-var(
    bg-color,
    (
      // 底部图层背景色
      bottom: #eeeeee,
      // 中部图层背景色
      medium: #fefefe,
      // 顶部图层背景色
      top: #ffffff
    )
  );

  // 文字颜色
  @include m.css-var(
    text-color,
    (
      // 标题文字
      title: #303133,
      // 正文文字
      main: #606266,
      // 次级文字
      second: #979797,
      // 辅助文字
      assist: #c0c4cc
    )
  );

  // 圆角
  @include m.css-var(radius, 4px);

  // 阴影
  @include m.css-var(shadow, '0 2px 12px #ccc');

  // 字体
  @include m.css-var(
    font-family,
    'system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
  );

  // 字体大小
  @include m.css-var(
    font-size,
    (
      title: 16px,
      main: 14px,
      assist: 12px
    )
  );

  // 边框
  @include m.css-var(
    border,
    (
      style: solid,
      color: #ddd,
      width: 1px
    )
  );

  @include m.css-var(
    border,
    '#{fn.use-vars((border-width, border-style, border-color))}'
  );

  // 间距
  @include m.css-var(
    gap,
    (
      small: 4px,
      default: 6px,
      large: 8px
    )
  );
}

// 初始化
html {
  font-family: fn.use-var(font-family);
  font-size: fn.use-var(font-size, main);
  line-height: 1.4;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div,
section,
head,
aside,
body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
button,
input,
textarea {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
