@use 'sass:map';

$namespace: 'u-';

// 定义size映射的函数, 保证尺寸的统一性, size-vars(small, default, large)
// 例子：
// size-vars((height: 24px), (height: 32px), (height: 40px))
// 生成:
//  (small: (height: 24px), default: (height: 32px), large: (height: 40px))
@function size-vars($sizes...) {
  $size-types: (small, default, large);
  $size-result: ();

  @for $i from 1 through length($size-types) {
    $size-result: map.merge(
      $size-result,
      (#{nth($size-types, $i)}: nth($sizes, $i))
    );
  }
  @return $size-result;
}

$sizes: (small, default, large);

// 颜色类别
$color-types: (
  // 品牌色
  primary,
  // 成功色
  success,
  // 警告色
  warning,
  // 危险色
  danger,
  // 信息
  info,
  // 禁用色
  disabled,
  // 默认色
  default
);
