@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

$root-name: row-form;

@include m.b($root-name) {
  @include m.bem($root-name, interval) {
    margin-right: 10px;
  }

  // @include m.is(error) {
  //   color: red;
  // }
}

.is-error {
  color: red;
}
