@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

$root-name: checkbox;
@include m.b($root-name) {
  @include m.flex(inline-flex);
  user-select: none;
  vertical-align: middle;
  cursor: pointer;

  @include m.is(checked) {
    @include m.bem($root-name, wrap) {
      background-color: fn.use-var(color, primary);
      border-color: fn.use-var(color, primary);
    }

    @include m.is(disabled) {
      @include m.bem($root-name, wrap) {
        background-color: fn.use-var(text-color, disabled);
        border-color: fn.use-var(border, color);
      }
    }
  }

  @include m.is(disabled) {
    cursor: not-allowed;

    @include m.bem($root-name, wrap) {
      background-color: fn.use-var(color, disabled);
    }
  }

  @include m.size using ($size) {
    height: fn.use-var(form-component-height, $size);
    & + & {
      margin-left: calc(fn.use-var(gap, $size) * 2);
    }

    @include m.bem($root-name, wrap) {
      height: calc(fn.use-var(form-component-height, $size) / 2);
      width: calc(fn.use-var(form-component-height, $size) / 2);
    }
  }

  @include m.e(wrap) {
    border: 1;
    border: fn.use-var(border);
    border-radius: fn.use-var(radius, default);
    color: #fff;
    transition: background-color 0.25s ease;
    @include m.flex(inline-flex, center);
  }

  @include m.e(label) {
    margin-left: fn.use-var(gap, small);
  }

  @include m.m(indeterminate) {
    background-color: #fff;
    width: 10px;
    height: 2px;
    vertical-align: middle;
  }
}
