@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(checkbox) {
  @include m.flex(inline-flex);
  user-select: none;
  vertical-align: middle;

  @include m.e(wrap) {
    height: 16px;
    width: 16px;
    box-shadow: inset 0 0 1px 1px fn.use-var(border-color);
    border-radius: fn.use-var(radius);
    color: #fff;
    transition: background-color 0.25s ease;
    @include m.flex(inline-flex, center);

    // checked或者indeterminate
    @include m.is(active) {
      background-color: fn.use-var(color, primary);
      box-shadow: inset 0 0 1px 1px fn.use-var(color, primary);
    }
  }

  @include m.e(label) {
    margin-left: fn.use-var(gap, small);
  }

  @include m.m(indeterminate) {
    background-color: #fff;
    width: 10px;
    height: 2px;
    vertical-align: middle;
  }
}
