@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';
@use 'sass:map';

$root-name: input;

@include m.b($root-name) {
  vertical-align: middle;
  line-height: 1;
  border: fn.use-var(border-muted);
  box-shadow: fn.use-var(shadow, emboss);
  transition:
    border-color fn.use-var(transition, fast) fn.use-var(transition, ease),
    box-shadow fn.use-var(transition, fast) fn.use-var(transition, ease);
  overflow: hidden;
  width: 100%;

  @include m.flex($display: inline-flex);

  @include m.is-not(disabled) {
    &:hover {
      border-color: fn.use-var(color, primary);
    }
  }

  @include m.size using ($size) {
    height: fn.use-var(form-component-height, $size);
    border-radius: fn.use-var(radius, $size);
    padding: 0 fn.use-var(gap, $size);
    font-size: fn.use-var(font-size-main, $size);

    @include m.bem($root-name, native) {
      height: fn.use-var(form-component-height, $size);
      line-height: fn.use-var(form-component-height, $size);
    }
  }

  @include m.is(focus) {
    border-color: fn.use-var(color, primary);
    box-shadow: fn.use-var(focus-ring);
  }

  @include m.e(native) {
    // 清除默认样式
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
    color: fn.use-var(text-color, main);
    font-size: inherit;
    padding: 0;
    font-family: fn.use-var(font-family);

    &:-webkit-autofill {
      color: #fff !important;
      background-color: transparent;
    }

    &::placeholder {
      color: fn.use-var(text-color, placeholder);
    }
  }

  @include m.e(prefix, suffix) {
    font-size: inherit;
    color: fn.use-var(text-color, main);
    flex-shrink: 0;
    min-width: 20px;
    text-align: center;
    height: 100%;
    @include m.flex(inline-flex, $justify: center, $align: center);

    @include m.is(clickable) {
      cursor: pointer;
    }
  }

  @include m.e(clear) {
    cursor: pointer;
    color: fn.use-var(text-color, main);
  }

  @include m.e(suffix-content) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include m.is(disabled) {
    background-color: fn.use-var(color, disabled);
    box-shadow: none;
    @include m.bem($root-name, native) {
      cursor: not-allowed;
    }
  }
}
