@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

$root-name: batch-edit;

@include m.b($root-name) {
  @include m.e(tip) {
    padding: 0;
  }

  @include m.e(form-title) {
    font-size: fn.use-var(font-size, title, default);
    color: fn.use-var(text-color, title);
    padding: fn.use-var(gap, small);
    border-bottom: 1px solid fn.use-var(border-color);
  }

  @include m.e(form-scroll) {
    max-height: 500px;
    width: 800px;

    &-content {
      padding: fn.use-var(gap, large);
    }
  }

  @include m.e(form-action) {
    display: flex;
    justify-content: flex-end;
    gap: fn.use-var(gap, small);
    padding: fn.use-var(gap, small);
    border-top: 1px solid fn.use-var(border-color);
  }
}
