@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(tip) {
  position: relative;
  width: max-content;
  height: 100%;

  @include m.e(content) {
    position: absolute;
    border-radius: fn.use-var(radius, default);
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    width: max-content;
    overflow-wrap: break-word;
    visibility: visible;
    background: fn.use-var(color-primary);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    @include m.is(content-light) {
      background: #fff;
      border: fn.use-var(border);
      color: #000;
    }
  }

  @include m.e(arrow) {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;
    content: " ";
    transform: rotate(45deg);
    background: fn.use-var(color-primary);
    box-sizing: border-box;


    @include m.is(arrow-light) {
      z-index: 1 !important;
      background: #fff !important;
      border: fn.use-var(border) !important;
    }

    @include m.is(arrow-bottom) {
      border-top-color: transparent !important;
      border-left-color: transparent !important;
    }

    @include m.is(arrow-left) {
      border-top-color: transparent !important;
      border-right-color: transparent !important;
    }

    @include m.is(arrow-top) {
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }

    @include m.is(arrow-right) {
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }
}