@use 'pkg:@ultra-ui/styles/mixins' as m;
@use 'pkg:@ultra-ui/styles/functions' as fn;
@use 'pkg:@ultra-ui/styles/vars';
@use 'sass:map';
@use 'sass:string';

// 方便拼接
$root-name: drawer;
$overlay-name: #{$root-name}-overlay;

$edge-offset: 4px;
$drawer-size: 320px;
$close-size: 48px;

$directions: (right, left, top, bottom);

$direction-map: (
  right: translateX(100%),
  left: translateX(-100%),
  top: translateY(-100%),
  bottom: translateY(100%)
);
@include m.b($root-name) {
  position: absolute;
  border-radius: fn.use-var(radius, large);
  background-color: fn.use-var(bg-color, top);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 2px fn.use-var(shadow, color);

  @include m.e(close) {
    position: absolute;
    width: $close-size;
    height: $close-size;
    cursor: pointer;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @each $direction in $directions {
    @include m.is($direction) {
      --transform: #{map.get($direction-map, $direction)};
    }
  }

  @include m.is(right, left) {
    top: $edge-offset;
    bottom: $edge-offset;
    height: calc(100% - $edge-offset * 2);
    width: $drawer-size;

    @include m.bem($root-name, close) {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  @include m.is(top, bottom) {
    left: $edge-offset;
    right: $edge-offset;
    width: calc(100% - $edge-offset * 2);
    height: $drawer-size;

    @include m.bem($root-name, close) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  @include m.is(right) {
    right: $edge-offset;

    @include m.bem($root-name, close) {
      left: -($close-size + 4px);
    }
  }

  @include m.is(left) {
    left: $edge-offset;

    @include m.bem($root-name, close) {
      right: -($close-size + 4px);
    }
  }

  @include m.is(top) {
    top: $edge-offset;

    @include m.bem($root-name, close) {
      bottom: -($close-size + 4px);
    }
  }

  @include m.is(bottom) {
    bottom: $edge-offset;

    @include m.bem($root-name, close) {
      top: -($close-size + 4px);
    }
  }
}

@include m.b($overlay-name) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.32);
  overflow: hidden;
}

// 动画

@function get-selector($direction, $type) {
  @return '.' + drawer-slide-#{$direction}-#{$type}-active;
}

// 获取激活状态选择器
@function get-active($type) {
  $active: '';
  @each $direction in $directions {
    $active: $active + ',' + get-selector($direction, $type);
  }
  @return string.slice($active, 2, -1);
}

#{get-active(enter)} {
  transition: transform 0.3s cubic-bezier(0.46, 1.29, 0.46, 1.04);
}

#{get-active(leave)} {
  transition: transform 0.3s ease-in-out;
}

@each $direction in $directions {
  .drawer-slide-#{$direction}-enter-from,
  .drawer-slide-#{$direction}-leave-to {
    transform: var(--transform);
  }
}
