@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

// 方便拼接
$root-name: date-picker;

@include m.b($root-name) {
  width: 100%;
  @include m.size using ($size) {
    @include m.bem($root-name, icon) {
      font-size: calc(fn.use-var(form-component-height, $size) / 2 + 2px);
    }
  }

  @include m.e(panel) {
    @include m.size using ($size) {
      font-size: fn.use-var(font-size-main, $size);

      @include m.bem($root-name, day) {
        height: fn.use-var(form-component-height, $size);
        cursor: pointer;
        padding: 2px;
      }

      @include m.bem($root-name, day-text) {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include m.bem($root-name, days) {
        grid-template-columns: repeat(
          7,
          fn.use-var(form-component-height, $size)
        );
      }

      @include m.bem($root-name, week) {
        grid-template-columns: repeat(
          7,
          fn.use-var(form-component-height, $size)
        );
      }

      @include m.bem($root-name, header) {
        font-size: fn.use-var(font-size-title, $size);
        height: fn.use-var(form-component-height, $size);
      }
    }
  }

  @include m.e(days, week) {
    display: grid;
  }

  @include m.e(week) {
    padding: 3px 0;
  }

  @include m.e(week-day) {
    line-height: 1em;
    text-align: center;
  }

  @include m.e(day) {
    cursor: pointer;

    @include m.m(pre, next) {
      color: fn.use-var(text-color, disabled);
    }

    @include m.m(current) {
      &:hover {
        @include m.bem($root-name, day-text) {
          background-color: fn.use-var(color, primary, light-9);
        }
      }
    }

    @include m.is(today) {
      @include m.bem($root-name, day-text) {
        border: 1px solid fn.use-var(color, primary, light-3);
      }
    }

    @include m.is(disabled) {
      cursor: not-allowed;
      background-color: fn.use-var(color, disabled);

      @include m.bem($root-name, day-text) {
        background-color: fn.use-var(color, disabled);
        color: fn.use-var(text-color, disabled);
      }
    }

    @include m.is(selected) {
      @include m.bem($root-name, day-text) {
        background-color: fn.use-var(color, primary);
        color: fn.use-var(text-color, white);
      }
    }
  }

  @include m.e(day-text) {
    display: inline-block;
    border-radius: 100%;
    transition: background-color 0.15s;
  }

  @include m.e(header) {
    @include m.flex($justify: space-between);

    line-height: 1em;
    padding: 0 8px;
  }

  @include m.e(header-year, header-month) {
    cursor: pointer;
  }
  @include m.e(header-year) {
    margin-right: 6px;
  }


  @include m.e(months) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include m.e(month) {
    width: 70px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
  }

}
