@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

// 方便拼接
$root-name: date-picker;

@include m.b($root-name) {
  @include m.size using ($size) {
    @include m.bem($root-name, icon) {
      font-size: calc(fn.use-var(form-component-height, $size) / 2 + 2px);
    }
  }

  @include m.e(panel) {
    max-height: 400px;

    @include m.size using ($size) {
      font-size: fn.use-var(font-size-main, $size);

      @include m.bem($root-name, day) {
        height: fn.use-var(form-component-height, $size);
        line-height: fn.use-var(form-component-height, $size);
        cursor: pointer;
        text-align: center;
      }

      @include m.bem($root-name, day-text) {
        height: fn.use-var(form-component-height, $size);
        width: fn.use-var(form-component-height, $size);
        border-radius: 100%;
      }

      @include m.bem($root-name, days) {
        grid-template-columns: repeat(
          7,
          fn.use-var(form-component-height, $size)
        );
      }
    }
  }

  @include m.e(days) {
    display: grid;
  }

  @include m.e(day) {
    cursor: pointer;
    text-align: center;

    @include m.m((pre, next)) {
      color: fn.use-var(text-color, disabled);
    }

    &:hover {
      @include m.bem($root-name, day-text) {
        background-color: fn.use-var(color, primary);
        color: fn.use-var(text-color, white);
      }
    }
  }

  @include m.e(day-text) {
    display: inline-block;
    border-radius: 100%;
    transition: background-color 0.15s;
  }
}
