@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

// 方便拼接
$root-name: loading;

@include m.b($root-name) {
  @include m.flex($display: inline-flex, $align: center);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: fn.use-var(bg-color, top, alpha);
  transform: rotate(360deg);
  justify-content: center;
  color: fn.use-var(color, primary);

  @include m.size using ($size) {
    font-size: fn.use-var('font-size', title, $size);
  }

  @include m.e(wrapper) {
    text-align: center;
  }

  @include m.m(text) {
    margin: 3px 0;
  }
}
