@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

// 方便拼接
$root-name: pop-confirm;

@include m.b($root-name) {
  @include m.m(main) {
    max-width: 200px;
    width: max-content;
    @include m.flex($display: inline-flex);
  }

  @include m.m(icon) {
    margin-right: 8px;
    color: fn.use-var('color', warning);
  }

  @include m.size using ($size) {
    font-size: fn.use-var('font-size', main, $size);
    margin-bottom: fn.use-var(gap, $size);
  }

  @include m.m(action) {
    @include m.flex($justify: flex-end);
    i {
      display: block;
      visibility: hidden;
      width: 6px;
    }
  }
}
