@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';

// 方便拼接
$root-name: cascade;
$menu-name: $root-name + '-panel-item';

@include m.b($root-name) {
  width: 100%;

  @include m.is(multiple) {
    border: fn.use-var(border-muted);
    box-shadow: fn.use-var(shadow, emboss);
    transition:
      border-color 0.25s ease,
      box-shadow 0.25s ease;
    overflow: hidden;
    cursor: pointer;

    @include m.flex($display: inline-flex);

    &:hover {
      border-color: fn.use-var(color, primary);
    }
  }

  @include m.size using ($size) {
    @include m.is(multiple) {
      min-height: fn.use-var(form-component-height, $size);
      border-radius: fn.use-var(radius, $size);
      padding: calc((fn.use-var(form-component-height, $size) - fn.use-var(tag, $size)) / 2)
        calc(fn.use-var(gap, $size) / 2);

      @include m.bem($root-name, clear) {
        font-size: fn.use-var(font-size-main, $size);
      }
    }

    @include m.bem($root-name, tags) {
      gap: calc((fn.use-var(form-component-height, $size) - fn.use-var(tag, $size)) / 2);
    }
  }

  @include m.e(content) {
    display: flex;
  }

  // @include m.e(ripple) {
  //   background-color: fn.use-var(color, primary, light-7);
  //   opacity: 0.5;
  // }

  @include m.e(empty) {
    text-align: center;
    padding: 6px 0;
  }

  @include m.e(panel) {
    min-width: 160px;
  }

  @include m.e(panel-filter) {
    padding: 4px;
    display: flex;

    @include m.bem(input) {
      flex-grow: 1;
      width: 160px;
    }
  }

  @include m.e(tags) {
    flex-grow: 1;
    @include m.flex($justify: flex-start, $align: center, $wrap: wrap);
  }

  @include m.e(placeholder) {
    flex-shrink: 0;
    flex-grow: 1;
    user-select: none;
    color: fn.use-var(text-color, placeholder);
  }

  @include m.is(disabled) {
    @include m.bem($root-name, arrow) {
      color: fn.use-var(text-color, disabled);
    }
  }
}

@include m.b($menu-name) {
  padding: 4px 0;
  height: 200px;
  min-width: 160px;
  max-width: 200px;
  flex-grow: 1;

  &:not(:last-child) {
    border-right: fn.use-var(border);
  }

  @include m.e(option) {
    padding: 4px 6px;
    cursor: pointer;
    user-select: none;
    gap: 4px;
    @include m.flex($justify: space-between);

    &:hover {
      background-color: fn.use-var(bg-color, hover);
    }

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    @include m.is(active) {
      background-color: fn.component-var(cascade, node-active-bg, fn.use-var(color, primary, light-9));
      color: fn.component-var(cascade, node-active-color, fn.use-var(color, primary));
      border-radius: fn.use-var(radius, default);
    }

    @include m.is(selected) {
      color: fn.use-var(color, primary);
      font-weight: bold;
    }
  }

  @include m.e(content) {
    padding: 0 fn.use-var(gap, default);
  }

  @include m.e(option-label) {
    flex-grow: 1;
  }

  @include m.e(option-checkbox) {
    height: auto;
  }

  @include m.e(option-expand, option-checkbox) {
    flex-shrink: 0;
  }
}
