@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(list) {
  border-radius: 5px;
  border: 1px solid fn.use-var(border-color);
  @include m.e(item) {
    & > li {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      box-sizing: border-box;
      &:hover {
        background-color: fn.use-var(color-info-light-9);
      }
    }
  }

  @include m.e(left) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 10px;
    & > div {
      margin-right: 5px;
    }
  }

  @include m.e(checkbox) {
  }

  @include m.e(avatar) {
    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
  @include m.e(content) {
    flex: 1;
  }

  @include m.e(action) {
    align-self: center;
    & > .u-icon {
      margin-right: 10px;
      cursor: pointer;
    }
    & > .u-icon:last-child {
      margin-right: 0px;
    }
  }
}
