@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

@include m.b(layout) {
  display: grid;
  position: relative;

  @include m.e(resizer) {
    position: absolute;
    left: 0;
    top: 0;
    cursor: col-resize;
    background-color: #eee;
    @include m.flex($align: center, $justify: center);
    box-shadow: fn.use-var(shadow);

    @include m.is(vertical) {
      height: 100%;
      width: 10px;
    }
    // @include m.is(horizontal) {
    //   height: 6px;
    //   width: 100%;
    // }
  }
}
