@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

$root-name: tip;

@include m.b($root-name) {
  width: max-content;

  @include m.e(content) {
    position: absolute;
    border-radius: fn.use-var(radius, default);
    color: fn.use-var(text-color, main);
    background: fn.use-var(bg, color-top);
    box-shadow: fn.use-var(shadow);
    overflow: hidden;
  }

  @include m.size using ($size) {
    font-size: fn.use-var(font-size, main, $size);
    padding: fn.use-var(gap, $size);
  }
}

.#{$root-name}-enter-active,
.#{$root-name}-leave-active {
  transition-property: opacity, transform;
}

.#{$root-name}-enter-active {
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.#{$root-name}-leave-active {
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
}

.#{$root-name}-enter-from,
.#{$root-name}-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
