@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';

// 方便拼接
$root-name: dropdown;

@include m.b($root-name) {
  @include m.e(content) {
    position: absolute;
    background-color: fn.use-var(bg-color, top);
    border: fn.use-var(border);
    border-radius: fn.use-var(radius, default);
    box-shadow: fn.use-var(shadow, lg);
    backdrop-filter: fn.use-var(bg-filter);
    -webkit-backdrop-filter: fn.use-var(bg-filter);
    top: 0;
    left: 0;
  }
}
