@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:map';

// 方便拼接
$root-name: tree-select;

@include m.b($root-name) {

    @include m.is(disabled) {

        cursor: not-allowed;
        background-color: fn.use-var(color, disabled);

        &:hover {
            box-shadow: none;
        }

        .u-icon {
            color: fn.use-var(text-color, disabled);
        }
    }

    @include m.is(readonly) {
        pointer-events: none;
        cursor: default;
        border: none;
        box-shadow: none;
        padding: 0;
        background: none;
    }


    @include m.e(filter) {
        margin-bottom: 4px;
    }

    @include m.e(content-header) {
        @include m.flex($justify: space-between);
        padding: 4px 12px;
        border-bottom: fn.use-var(border);
        border-radius: 0;
    }

    @include m.e(content-filter) {
        padding: 6px 10px;
    }

    @include m.e(content-option) {
        padding: 4px;
    }


}