@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

@include m.b(checkbox-group) {
  line-height: 1;
  vertical-align: middle;
  @include m.flex(inline-flex);

  @include m.is(block) {
    display: inline-block;

    @include m.bem(checkbox) {
      margin: 0;
      display: flex;
    }
  }
}
