@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';
@use 'sass:math';

// 方便拼接
$root-name: palette;

$slider-height: 12px;
$slider-thumb-size: 18px;

@mixin color-marker {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size: 12px 12px;
  background-position:
    0 0,
    6px 0,
    6px -6px,
    0 6px;
}

@include m.b($root-name) {
  border-radius: 50%;
  display: inline-block;
  border: fn.use-var(border);
  cursor: pointer;

  @include m.size using ($size) {
    width: fn.use-var(form-component-height, $size);
    height: fn.use-var(form-component-height, $size);
  }

  @include m.e(panel) {
    width: 250px;
  }

  @include m.e(sv) {
    height: 150px;
    position: relative;
  }

  @include m.e(sv-thumb) {
    width: 10px;
    height: 10px;
    top: -5px;
    left: -5px;
    position: absolute;
    background-color: #fff;
    border: fn.use-var(border);
    border-color: #000;
    border-radius: 50%;
    pointer-events: none;
  }

  @include m.e(sv-s, sv-v) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include m.e(sv-v) {
    background-image: linear-gradient(to bottom, #0000, #000);
  }

  @include m.e(hue, alpha) {
    height: $slider-height;
    margin: fn.use-var(gap, large) 0;
    position: relative;
    border: fn.use-var(border);
  }

  @include m.e(hue) {
    background: linear-gradient(
      to right,
      rgb(255, 0, 0),
      rgb(255, 255, 0),
      rgb(0, 255, 0),
      rgb(0, 255, 255),
      rgb(0, 0, 255),
      rgb(255, 0, 255),
      rgb(255, 0, 0)
    );
  }

  @include m.is(no-color) {
    @include color-marker;
  }

  @include m.e(alpha) {
    @include color-marker;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include m.e(hue-thumb, alpha-thumb) {
    height: 100%;
    background-color: #000;
    left: -3px;
    width: 6px;
    top: 0;
    position: absolute;
    pointer-events: none;
  }

  @include m.e(color-switch) {
    gap: fn.use-var(gap, small);

    @include m.flex;
  }

  @include m.e(clear-btn) {
    flex-shrink: 0;
  }

  @include m.e(color-type) {
    width: 60px;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    user-select: none;
  }

  @include m.e(color-rgba) {
    @include m.flex;

    .u-input__native {
      text-align: center;
    }
  }

  @include m.e(color-hexa) {
    flex-grow: 1;
    text-align: center;

    .u-input__native {
      text-align: center;
    }
  }
}
