@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';

$root-name: switch;
@include m.b($root-name) {
  --u-switch-height-small: 18px;
  --u-switch-height-default: 20px;
  --u-switch-height-large: 24px;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  gap: fn.use-var(gap, default);

  // 状态样式
  @include m.is(disabled) {
    cursor: not-allowed;

    @include m.bem($root-name, button) {
      background-color: fn.use-var(bg-color, bottom);
    }

    @include m.bem($root-name, thumb) {
      background-color: fn.use-var(bg-color, middle);
    }

    @include m.is(checked) {
      @include m.bem($root-name, button) {
        background-color: fn.use-var(color, primary, light-5);
      }
    }
  }

  @include m.is(readonly) {
    cursor: default;
  }

  // 尺寸样式
  @include m.size using ($size) {
    @include m.bem($root-name, button) {
      height: var(--u-switch-height-#{$size});
      width: calc(var(--u-switch-height-#{$size}) * 2 - 4px);
    }

    @include m.bem($root-name, thumb) {
      width: calc(var(--u-switch-height-#{$size}) - 4px);
      height: calc(var(--u-switch-height-#{$size}) - 4px);
    }
  }

  @include m.e(native) {
    opacity: 0;
    visibility: hidden;
  }

  @include m.e(button) {
    border-radius: 100px;
    background-color: fn.use-var(bg-color, bottom);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 2px;
    flex-shrink: 0;
  }

  @include m.e(thumb) {
    display: block;
    background-color: fn.use-var(bg-color, top);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }

  @include m.e(text) {
    font-weight: 500;

    @include m.is(selected) {
      color: fn.use-var(color-primary);
      font-weight: 800;
    }
  }

  @include m.is(checked) {
    @include m.bem($root-name, button) {
      background-color: fn.use-var(color-primary);
    }

    @include m.bem($root-name, thumb) {
      transform: translateX(100%);
    }
  }
}
