@use 'sass:map';
@use '../../styles/mixins' as m;
@use '../../styles/vars';
@use '../../styles/functions' as fn;

$root-name: card;
@include m.b($root-name) {
  border-radius: fn.use-var(radius, default);
  background-color: fn.use-var(bg-color, top);
  color: fn.use-var(text-color, main);
  box-shadow: fn.use-var(shadow);
  overflow: hidden;

  @include m.is(integrate) {
    box-shadow: none;
    & > {
      @include m.bem($root-name, header) {
        border-bottom: none;
        padding-bottom: 0;
      }

      @include m.bem($root-name, action) {
        border-top: none;
      }
    }
  }

  @include m.size using ($size) {
    font-size: fn.use-var(font-size-main, $size);

    @include m.b(card__header, card__content, card__action) {
      padding: fn.use-var(gap, $size);
    }

    @include m.bem($root-name, header) {
      font-size: fn.use-var(font-size-title, $size);
      font-weight: bold;
    }
  }

  @include m.e(header) {
    border-bottom: fn.use-var(border);
  }

  @include m.e(cover) {
    position: relative;
    overflow: hidden;

    & > img {
      width: 100%;
      overflow: hidden;
      display: block;

      @include m.is(height-fixed) {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include m.e(content) {
  }

  @include m.e(action) {
    border-top: fn.use-var(border);

    #{fn.bem(button)} + #{fn.bem(button)} {
      margin-left: fn.use-var(gap, default);
    }
  }

  // @include m.is(always-shadow) {
  //   box-shadow: fn.use-var(shadow);
  // }

  // @include m.is(hover-shadow) {
  //   transition: box-shadow 0.25s ease;
  //   &:hover {
  //     box-shadow: fn.use-var(shadow);
  //   }
  // }
}
