@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:map';

// 方便拼接
$root-name: paginator;

@include m.b($root-name) {
  @include m.flex($justify: flex-end);

  @include m.size using ($size) {
    font-size: fn.use-var(form-component-font-size, $size);
    gap: fn.use-var(gap, $size);
    padding: 0 fn.use-var(gap, $size);

    @include m.bem($root-name, btn) {
      width: calc(fn.use-var(form-component-height, $size) - 4px);
      height: calc(fn.use-var(form-component-height, $size) - 4px);
    }

    @include m.bem($root-name, pages) {
      gap: fn.use-var(gap, $size);
    }

    @include m.bem($root-name, jumper) {
      gap: fn.use-var(gap, $size);
    }
  }

  @include m.e(btn) {
    @include m.flex($justify: center);
    color: fn.use-var(text, color, title);
    user-select: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: fn.use-var(color, primary, 'light-9');
    }

    @include m.is(active) {
      background-color: fn.use-var(color, primary, 'light-9');
      color: fn.use-var(color, primary);
    }

    @include m.is(disabled) {
      cursor: not-allowed;
      color: fn.use-var(text-color, disabled);

      &:hover {
        background: none;
      }
    }
  }

  @include m.e(jumper) {
    @include m.flex;
  }
  @include m.e(page-input) {
    width: 40px;
  }

  @include m.e(pages) {
    display: flex;
    justify-content: space-between;

    @include m.e(page) {
    }
  }

  @include m.e(size-select) {
    width: 90px;

    @include m.bem(input, native) {
      text-align: center;
    }
  }
}
