@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:map';

// 方便拼接
$root-name: paginator;

@include m.b($root-name) {
  display: flex;
  align-items: center;

  @include m.size using ($size) {
    height: map.get(vars.$form-component-height, $size);
    font-size: fn.use-var(form-component-font-size, $size);
    padding: fn.use-var(gap, $size);

    @include m.bem($root-name, btn) {
      width: map.get(vars.$form-component-height, $size);
      height: map.get(vars.$form-component-height, $size);
    }
  }

  @include m.e(btn) {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: fn.use-var(gap, small);
    color: fn.use-var(text, color, title);
    user-select: none;

    &:hover {
      background-color: fn.use-var(color, primary, 'light-7');
    }

    @include m.is(active) {
      background-color: fn.use-var(color, primary, 'light-3');
    }

    @include m.is(disabled) {
      cursor: default;

      &:hover {
        background: none;
      }
    }
  }

  @include m.e(input) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }

  @include m.e(pages) {
    display: flex;
    justify-content: space-between;

    @include m.e(page) {}
  }

  @include m.e(jump) {
    display: flex;
    align-items: center;
    margin-left: 20px;
    &--number {
      width: 60px;
      margin: 0 10px;
    }
  }

  @include m.e(size) {
    width: 100px;
    margin: 0 20px;
  }

}