@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

// 方便拼接
$root-name: date-panel;

@include m.b($root-name) {
  @include m.size using ($size) {
    padding: fn.use-var(gap, default);

    font-size: fn.use-var(font-size-main, $size);

    @include m.bem($root-name, cell-value) {
      width: fn.use-var(form-component-height, $size);
      height: fn.use-var(form-component-height, $size);
      line-height: fn.use-var(form-component-height, $size);
    }

    @include m.bem($root-name, (years, months)) {
      @include m.bem($root-name, cell-value) {
        width: calc(fn.use-var(form-component-height, $size) * 2);
      }
    }

    @include m.e($root-name, header) {
      font-size: fn.use-var(font-size-title, $size);
    }

    @include m.bem($root-name, cell) {
      @include m.is(range-start) {
        border-radius: fn.use-var(form-component-height, $size) 0 0
          fn.use-var(form-component-height, $size);
      }

      @include m.is(range-end) {
        border-radius: 0 fn.use-var(form-component-height, $size)
          fn.use-var(form-component-height, $size) 0;
      }
    }
  }

  // 通用
  @include m.e(days, months, years) {
    row-gap: 4px;
  }

  @include m.e(months, years) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @include m.bem($root-name, cell) {
      width: 70px;
      text-align: center;
    }
  }

  @include m.e(week, days) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  @include m.e(cell) {
    padding: 2px;
    cursor: pointer;

    &:hover {
      @include m.bem($root-name, cell-value) {
        background-color: fn.use-var(bg-color, hover);
      }
    }

    @include m.is(in-range) {
      background-color: fn.use-var(color, primary, light-9);
    }

    @include m.is(disabled) {
      cursor: not-allowed;
      background-color: fn.use-var(color, disabled);

      @include m.bem($root-name, cell-value) {
        background-color: fn.use-var(color, disabled);
        color: fn.use-var(text-color, disabled);
      }
    }

    // 日期的部分
    @include m.is(pre, next) {
      color: fn.use-var(text-color, disabled);
    }

    @include m.is(selected, range-start, range-end) {
      @include m.bem($root-name, cell-value) {
        background-color: fn.use-var(color, primary);
        color: fn.use-var(text-color, white);
      }
    }

    @include m.is(today) {
      @include m.bem($root-name, cell-value) {
        border: 1px solid fn.use-var(color, primary, light-3);
      }
    }
  }

  @include m.e(cell-value) {
    display: inline-block;
    text-align: center;
    transition: background-color 0.15s;
    border-radius: 99px;
  }

  @include m.e(week) {
    padding: 3px 0;
  }

  @include m.e(week-day) {
    line-height: 1em;
    text-align: center;
  }

  @include m.e(header) {
    line-height: 1em;
    padding: 0 8px;
    height: 40px;
    @include m.flex($justify: space-between);

    @include m.bem(icon) {
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: fn.use-var(color, primary);
      }
    }
  }

  @include m.e(header-year, header-month) {
    cursor: pointer;
  }
  @include m.e(header-year) {
    margin-right: 6px;
  }
}
