@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:math';
@use 'sass:map';

// 方便拼接
$root-name: slider;

$track-size: (
  small: 6px,
  default: 8px,
  large: 10px
);
$margin: (
  small: 6px,
  default: 8px,
  large: 10px
);

@include m.b($root-name) {
  background-color: fn.use-var(color, disabled);
  position: relative;
  cursor: pointer;

  @include m.is(range) {
    cursor: default;
  }

  @include m.is(disabled) {
    cursor: not-allowed;

    @include m.bem($root-name, bar) {
      background-color: fn.use-var(color, disabled, dark-1);
    }

    @include m.bem($root-name, thumb) {
      cursor: not-allowed;
      border-color: fn.use-var(color, disabled, dark-1);
      &:hover {
        box-shadow: none;
      }
    }
  }

  @include m.size using($size) {
    $track-size: map.get($track-size, $size);
    $margin-y: map.get($margin, $size);
    $thumb-size: $track-size + $margin-y * 2;
    $margin-x: math.div($thumb-size, 2);

    height: $track-size;
    margin: $margin-y $margin-x;
    border-radius: $track-size;

    @include m.bem($root-name, thumb) {
      width: $thumb-size;
      height: $thumb-size;
      top: -$margin-y;
      left: -$margin-x;
    }
  }

  @include m.e(bar) {
    position: absolute;
    height: 100%;
    border-radius: 12px;
    background-color: fn.use-var(color, primary);
  }

  @include m.e(thumb) {
    border-radius: 50%;
    background-color: fn.use-var(bg-color, top);
    position: absolute;
    cursor: grab;
    border: 3px solid fn.use-var(color, primary);
    transition: box-shadow 0.2s;

    &:hover,
    &:active {
      box-shadow: 0 0 4px 0px fn.use-var(color, primary);
    }

    &:active {
      cursor: grabbing;
    }
  }
}
