@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:math';
@use 'sass:map';

// 方便拼接
$root-name: slider;

$button-size: 36;

@include m.b($root-name) {
  @include m.size using ($size) {
    padding: calc(fn.use-var(form-component-height, $size) / 2.8);
    height: fn.use-var(form-component-height, $size);

    @include m.bem($root-name, button) {
      width: calc(fn.use-var(form-component-height, $size) / 1.5);
      height: calc(fn.use-var(form-component-height, $size) / 1.5);
    }

    @include m.bem($root-name, runway) {
      border-radius: fn.use-var(radius, $size);
    }

    @include m.bem($root-name, bar) {
      border-radius: fn.use-var(radius, $size);
    }

    @include m.is(vertical) {
      width: fn.use-var(form-component-height, $size);
    }
  }

  @include m.is(vertical) {
    height: initial;
    @include m.bem($root-name, button-wrap) {
      bottom: #{math.div(-$button-size, 2.5)}px;
      top: unset;
    }

    @include m.bem($root-name, runway) {
      width: 100%;
      height: 100%;
    }

    @include m.bem($root-name, bar) {
      bottom: 0;
    }

    @include m.bem($root-name, stop) {
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 10px;
      border-radius: 50%;
      background-color: fn.use-var('color', primary, light-3);
    }
  }

  @include m.is(disable) {
    @include m.bem($root-name, bar) {
      background-color: fn.use-var(color-default-dark-3);
      cursor: no-drop;
    }

    @include m.bem($root-name, runway) {
      cursor: no-drop;
    }

    @include m.bem($root-name, button) {
      border: solid 2px fn.use-var(color-default-dark-3);
      cursor: no-drop;

      &:active {
        cursor: no-drop;
        transform: none;
      }
      &:hover {
        transform: none;
      }
    }
  }

  @include m.e(runway) {
    height: 100%;
    background-color: fn.use-var(color, primary, light-9);
    position: relative;
    cursor: pointer;
  }

  @include m.e(bar) {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    background-color: #007bff;
  }

  @include m.e(button-wrap) {
    width: $button-size + px;
    height: $button-size + px;
    line-height: $button-size + px;
    position: absolute;
    cursor: pointer;
    top: math.div(-$button-size, 2.5) + px;
    z-index: 1;
    user-select: none;
    text-align: center;
    left: math.div(-$button-size + 10, 2) + px;
  }

  @include m.e(button) {
    display: inline-block;
    vertical-align: middle;
    border: solid 2px fn.use-var(color-primary);
    background-color: fn.use-var(bg-color-top);
    border-radius: 50%;
    box-sizing: border-box;
    transition: transform 0.2s;
    user-select: none;
    cursor: grab;

    &:active {
      cursor: grabbing;
      transform: scale(1.2);
    }
    &:hover {
      transform: scale(1.2);
    }
  }

  @include m.e(stop) {
    position: absolute;
    pointer-events: none;
    width: 10px;
    height: 100%;
    border-radius: 50%;
    background-color: fn.use-var('color', primary, light-3);
  }
}
