@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;

@include m.b(kbd) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: fn.use-var(font-family);
  font-weight: normal;
  vertical-align: text-top;
  white-space: nowrap;
  user-select: none;

  position: relative;
  top: -0.03em;

  font-size: 0.75em;
  min-width: 1.75em;
  line-height: 1.7em;
  padding: 0 0.5em 0.05em;
  border-radius: calc(fn.use-var(radius, default) * 0.35);
  height: fit-content;

  color: fn.use-var(text-color, main);
  background: fn.use-var(bg-color, top);

  /*
   * Adapted from Radix UI Themes Kbd.
   * Multi-layer box-shadow simulates a 3D keycap appearance.
   */
  box-shadow:
    inset 0 0.05em fn.component-var(kbd, inset-shadow),
    0 0 0 0.05em fn.component-var(kbd, border-shadow),
    0 0.08em 0.17em fn.component-var(kbd, drop-shadow);
}
