@use 'pkg:@ultra-ui/styles/mixins' as m;
@use 'pkg:@ultra-ui/styles/functions' as fn;
@use 'pkg:@ultra-ui/styles/vars';

// 方便拼接
$root-name: date-picker;

@include m.b($root-name) {
  width: 100%;
  @include m.size using ($size) {
    @include m.bem($root-name, icon) {
      font-size: calc(fn.use-var(form-component-height, $size) / 2 + 2px);
    }
  }
}
