@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;

@include m.b('tree') {
  @include m.e('node') {
    height: 24px;
    @include m.flex($align: center);
    cursor: pointer;

    &:hover {
      background-color: fn.use-var(color, primary, light-9);
    }

    @include m.is('active') {
      background-color: fn.use-var(color, primary, light-9);
    }
  }

  @include m.e('expand-icon') {
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: fn.use-var(gap, small);

    @include m.is('expanded') {
      transform: rotate(90deg);
    }
  }
}
