@use 'mixins' as m;
@use 'functions' as fn;
@use 'vars';

// 方便拼接
$root-name: empty;

@include m.b($root-name) {
  color: fn.use-var(text-color, assist);
  text-align: center;
  display: inline-block;
  user-select: none;
}
