@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(number-input) {
  @include m.e(step) {
    display: flex;
    flex-direction: column;

    & > #{fn.bem(icon)} {
      cursor: pointer;
      transition: color 0.25s;
      width: 20px;
      border-radius: fn.use-var(radius);

      &:hover {
        color: fn.use-var(color, primary);
      }
    }
  }
}
