@use 'mixins' as m;
@use 'functions' as fn;
@use 'vars';

@include m.b(form) {
  @include m.is(readonly) {
    gap: 6px;

    @include m.bem(form-item, label) {
      background-color: fn.use-var(bg-color, top); // #fbfcfe;
    }
    @include m.bem(form-item, content) {
      background-color: fn.use-var(bg-color, middle); // #f5f8fb;
      padding: 0 8px;
    }
  }

  @include m.e(data-before) {
    width: 100%;
    line-height: 1.3;
  }

  @include m.e(changed-tag) {
    color: fn.use-var(color, info);
    font-size: fn.use-var(font-size, assist, default);
  }
}
