@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:map';

// 方便拼接
$root-name: steps;

@include m.b($root-name) {
  padding: 0;
  margin: 0;

  /** 颜色变量 */
  @each $type in vars.$color-types {
    @include m.em(finished, $type) {
      --finished-color: #{fn.use-var(color, $type)};
    }
    @include m.em(current, $type) {
      --current-color: #{fn.use-var(color, $type)};
    }
  }

  /** 步骤项 */
  @include m.e(item) {
    font-weight: 600;
    color: fn.use-var(text-color, placeholder);

    @include m.is(finished) {
      color: var(--finished-color);
    }
    @include m.is(current) {
      color: var(--current-color);
    }
  }

  @include m.e(node) {
    position: relative;
  }

  @include m.e(link) {
    background-color: currentColor;
    position: absolute;
    margin: auto;
    z-index: 0;
  }

  @include m.e(icon) {
    display: flex;
    cursor: default;
    border: 2px solid currentColor;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: fn.use-var(bg-color, top);
    position: relative;
    z-index: 1;
  }

  /** 步骤项描述 */
  @include m.e(content) {
    padding: 4px 0;
  }

  @include m.is(horizontal) {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    @include m.bem($root-name, item) {
      flex: 1;
      min-width: 150px;
    }

    @include m.bem($root-name, link) {
      width: 100%;
      height: 2px;
      top: 0;
      bottom: 0;
    }

    @include m.is(align-center) {
      @include m.bem($root-name, (content, node)) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include m.bem($root-name, link) {
        left: 50%;
      }
    }
  }

  @include m.is(vertical) {
    @include m.bem($root-name, node) {
      padding: 20px 0;
    }
    @include m.bem($root-name, item) {
      display: flex;
      align-items: center;
    }

    @include m.bem($root-name, link) {
      height: 100%;
      width: 2px;
      left: 0;
      right: 0;
    }
  }

  @include m.size using ($size) {
    @include m.is(vertical) {
      @include m.bem($root-name, item) {
        gap: fn.use-var(gap, $size);
      }
    }

    @include m.bem($root-name, icon) {
      font-size: fn.use-var(font-size-title, $size);
      width: fn.use-var(form-component-height, $size);
      height: fn.use-var(form-component-height, $size);
    }
  }
}
