@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(select) {
  position: relative;

  @include m.e('input') {
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
    border: fn.use-var(border);
    // border-width: fn.use-var(border-width);
    // border-style: fn.use-var(border-style);
    // border-color: fn.use-var(border-color);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: fn.use-var(border);
    // border-width: fn.use-var(border-width);
    // border-style: fn.use-var(border-style);
    // border-color: fn.use-var(border-color);
    box-shadow: inset 0 0 1px 1px fn.use-var(border, color);
    display: none; /* 默认不显示选项列表 */
    max-height: 200px;
    overflow-y: auto;
    li {
      cursor: pointer;
      padding: 5px 8px;
    }
  }
  .show {
    display: block;
  }

  .actived {
    background-color: #eee;
  }
}
