@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

@include m.b(select) {
  position: relative;
  // width: 240px;
  padding: 10px 10px;
  box-sizing: border-box;
  // height: fn.use-var(form-component-height-default);
  @include m.e('input') {
    width: 240px;
    height: fn.use-var(form-component-height-default);
    display: block;
    padding: 10px 10px;
    // box-sizing: border-box;
    border: fn.use-var(border);
    border-radius: fn.use-var(radius-default);
    &:hover {
      // 悬浮时边框颜色为 var(--u-color-primary);
      box-shadow: inset 0 0 1px 1px fn.use-var(color, primary);
    }
  }

  @include m.e('input-multiple') {
    width: 240px;
    min-height: 30px;
    padding: 10px 10px;
    border: fn.use-var(border);
    border-radius: fn.use-var(radius-default);
    &:hover {
      // 悬浮时边框颜色为 var(--u-color-primary);
      box-shadow: inset 0 0 1px 1px fn.use-var(color, primary);
    }

    & > div {
      display: inline-block;
      padding: 0 5px;
    }
  }

  @include m.e('clear') {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  ul {
    width: 240px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: fn.use-var(border);

    box-shadow: inset 0 0 1px 1px fn.use-var(border, color);
    display: none; /* 默认不显示选项列表 */
    max-height: 200px;
    overflow-y: auto;
    li {
      cursor: pointer;
      padding: 5px 8px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    li.actived {
      color: fn.use-var(color, primary);
    }
  }
  .show {
    display: block;
  }

  .showSelected {
    display: block;
  }
  // .actived {
  //   background-color: #eee;
  // }
}
