@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';

$role-size: (
  main-title: (
    font-size: 18px,
    font-weight: 600,
    color: #333
  ),
  title: (
    font-size: 16px,
    font-weight: 600,
    color: #333
  ),
  sub-title: (
    font-size: 16px,
    font-weight: 500,
    color: #999
  ),
  content: (
    font-size: 14px,
    font-weight: 300,
    color: #666
  ),
  additional: (
    font-size: 12px,
    font-weight: 300,
    color: #999
  )
);

@include m.b(text) {
  margin: 0;
  line-height: 1.3;
  overflow: hidden;
  position: relative;

  @each $role, $styles in $role-size {
    @include m.is(#{$role}) {
      @each $prop, $val in $styles {
        #{$prop}: $val;
      }
    }
  }

  @include m.is(italic) {
    font-style: italic;
  }

  @include m.is(bold) {
    font-weight: bold;

  }

  @include m.is(overflow) {
    &::after {
      content: ' ... ';
      background-color: #fff;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1.3em;
    }
  }

}
