@use 'utils/src/styles/mixins' as m;
@use 'utils/src/styles/functions' as fn;
@use 'utils/src/styles/vars';
@use 'sass:map';

$root-name: tag;

:root {
  --u-tag-small: 20px;
  --u-tag-default: 24px;
  --u-tag-large: 28px;
}

@include m.b($root-name) {
  cursor: default;
  color: fn.use-var(text-color, main);
  background-color: fn.use-var(color, default);
  overflow: hidden;
  min-width: 0;
  border: 1px solid fn.use-var(text-color, main);
  @include m.flex(inline-flex, flex-start, center);

  // 进入动画
  animation: tag-zoom-in 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @include m.e(content) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }

  @include m.e(icon-close) {
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 50%;
  }

  @include m.size using ($size) {
    height: var(--u-tag-#{$size});
    font-size: fn.use-var(font-size-main, $size);
    padding: 0 fn.use-var(gap, $size);
    border-radius: fn.use-var(radius, $size);

    @include m.bem($root-name, icon-close) {
      margin-left: calc(fn.use-var(gap, $size) / 2);
    }

    @include m.is(round) {
      border-radius: calc(var(--u-tag-#{$size}) / 2);
    }
  }

  @include m.is(dark) {
    border-color: fn.use-var(color, default);
  }

  // 颜色样式
  @each $type in vars.$color-types {
    @include m.m(color-#{$type}) {
      color: fn.use-var(color, $type);
      border-color: fn.use-var(color, $type);
      background-color: fn.use-var(color, $type, light-9);

      @include m.is(dark) {
        color: fn.use-var(text-color, white);
        background-color: fn.use-var(color, $type);
      }

      @include m.bem($root-name, icon-close) {
        &:hover {
          border: 1px solid fn.use-var(color, $type);
          // background-color: #ddd;
        }
      }
    }
  }
}

// 进入缩放动画定义
@keyframes tag-zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
