@use '@ui/styles/mixins' as m;
@use '@ui/styles/functions' as fn;
@use '@ui/styles/vars';
@use 'sass:map';

$root-name: form-item;

@include m.b($root-name) {
  @include m.flex(inline-flex, $align: flex-start);

  @include m.component-size(vars.$form-component-sizes) using ($type, $sizes) {
    @include m.b(form-item__label) {
      height: map.get($sizes, height);
      line-height: map.get($sizes, height);
    }
  }

  @include m.e(label) {
    flex-shrink: 0;
    padding-right: 8px;
    color: #666;
    text-align: right;

    @include m.is(required) {
      &::before {
        content: '*';
        color: fn.use-var(color, danger);
      }
    }
  }
  @include m.e(content) {
    flex-grow: 1;
    & > *[class^='#{vars.$namespace}'] {
      width: 100%;
    }

    @include m.is(error) {
      & > #{fn.bem(input)} {
        box-shadow: inset 0 0 1px 1px fn.use-var(color, danger);
      }
    }
  }

  @include m.e(tips) {
    width: 100%;
    --height: #{fn.use-var(font-size, main)};
    height: calc(var(--height) + 4px);
    line-height: calc(var(--height) + 2px);
    overflow: hidden;

    @include m.m(error) {
      color: fn.use-var(color, danger);
    }

    @include m.m(info) {
    }

    & > span {
      display: inline-block;
    }

    @include m.ellipsis;
  }
}

.#{$root-name}-tips-enter-from,
.#{$root-name}-tips-leave-to {
  transform: scaleY(0);
  opacity: 0;
}

.#{$root-name}-tips-enter-active,
.#{$root-name}-tips-leave-active {
  transition:
    transform 0.25s cubic-bezier(0.2, 0.74, 0.37, 0.98),
    opacity 0.25s ease-out;
}
