@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;

$root-name: image-cropper;
@include m.b($root-name) {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include m.e(canvas) {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: fn.use-var(bg-color, bottom);
  }

  @include m.e(image) {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    user-select: none;
  }
}
