@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;

$root-name: action;
$group-name: action-group;

@include m.b($group-name) {
  @include m.e(more) {
    flex-shrink: 0;
  }

  @include m.e(separator) {
    display: inline-block;
    flex-shrink: 0;
    width: 1px;
    vertical-align: middle;
    height: 0.8em;
    margin: 0 4px;
    background-color: fn.use-var(border-color);
  }

  @include m.e(dropdown) {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include m.b(button) {
      width: 100%;
      justify-content: flex-start;
      padding: 0 10px;

      & + & {
        margin-left: 0;
      }
    }
  }
}

@include m.b($root-name) {
  flex-shrink: 0;
}
