@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';

// 方便拼接
$root-name: calendar;

@include m.b($root-name) {
  width: 100%;

  @include m.e(header) {
    height: 32px;
    width: 100%;
    @include m.flex($justify: space-between);
  }

  @include m.e(days) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 500px;
  }

  @include m.e(day) {
    cursor: pointer;
    position: relative;
    @include m.flex($justify: center, $align: center);

    @include m.m(pre, next) {
      color: fn.use-var(text-color, disabled);
    }
  }
}
