@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;

@include m.b(popup) {
  position: relative;
  display: inline;

  @include m.e(content) {
    position: absolute;

    border-radius: fn.use-var(radius, default);
    background-color: fn.use-var(bg-color, top);
    box-shadow: fn.use-var(shadow);
    padding: fn.use-var(gap, default);

  }

  // vue过渡动画
  &-enter-from,
  &-leave-to {
    // transform: scale(0);
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    // transform-origin: 50% 0;
    transition:
      transform 0.25s,
      opacity .3s;
  }
}
