@use '../../styles/mixins' as m;
@use '../../styles/functions' as fn;
@use '../../styles/vars';
@use 'sass:map';

// 方便拼接
$root-name: text-editor;

@include m.b($root-name) {
  width: 100%;
  border: 1px solid fn.use-var(border, color);
  border-radius: var(--radius-default);
  box-shadow: inset 0 0 1px 1px var(--border-color);
  transition: box-shadow 0.2s ease;
  overflow: hidden;
  cursor: text;

  @include m.e('scroll') {
    padding: 10px;
  }

  :deep(ce-toolbar__actions) {
    right: 0;
  }

  @include m.is(disabled) {
    cursor: not-allowed;
    background-color: fn.use-var(color, disabled);
  }

  &:hover {
    box-shadow: inset 0 0 1px 1px var(--color-primary);
  }

  @include m.e('holder') {
    width: 100%;
    height: 100%;
  }
}
