$root-name: slide;

.#{$root-name}-enter-from,
.#{$root-name}-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.#{$root-name}-enter-active,
.#{$root-name}-leave-active {
  transition:
    transform 0.125s cubic-bezier(0, 0, 0.2, 1),
    opacity 0.125s cubic-bezier(0, 0, 0.2, 1);
}
