@keyframes spring-in {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spring-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.spring-enter-active {
  transform-origin: center;
  animation: spring-in 0.5s ease-in-out;
}

.spring-leave-active {
  animation: spring-out 0.3s cubic-bezier(0.4, 0, 1, 1);
}
