$root-name: tip;

// 通用的动画时间和缓动函数变量
$enter-duration: 0.3s;
$leave-duration: 0.25s;
$enter-ease: cubic-bezier(0.54, 0.89, 0.34, 1.33);
$leave-ease: cubic-bezier(0.54, 0.89, 0.34, 1.33);

// 顶部动画
.#{$root-name}-top-enter-active,
.#{$root-name}-top-leave-active {
  transition:
    opacity $enter-duration $enter-ease,
    transform $enter-duration $enter-ease;
}

.#{$root-name}-top-leave-active {
  transition:
    opacity $leave-duration $leave-ease,
    transform $leave-duration $leave-ease;
}

.#{$root-name}-top-enter-to,
.#{$root-name}-top-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.#{$root-name}-top-enter-from,
.#{$root-name}-top-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

// 底部动画
.#{$root-name}-bottom-enter-active,
.#{$root-name}-bottom-leave-active {
  transition:
    opacity $enter-duration $enter-ease,
    transform $enter-duration $enter-ease;
}

.#{$root-name}-bottom-leave-active {
  transition:
    opacity $leave-duration $leave-ease,
    transform $leave-duration $leave-ease;
}

.#{$root-name}-bottom-enter-to,
.#{$root-name}-bottom-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.#{$root-name}-bottom-enter-from,
.#{$root-name}-bottom-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

// 左侧动画
.#{$root-name}-left-enter-active,
.#{$root-name}-left-leave-active {
  transition:
    opacity $enter-duration $enter-ease,
    transform $enter-duration $enter-ease;
}

.#{$root-name}-left-leave-active {
  transition:
    opacity $leave-duration $leave-ease,
    transform $leave-duration $leave-ease;
}

.#{$root-name}-left-enter-to,
.#{$root-name}-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.#{$root-name}-left-enter-from,
.#{$root-name}-left-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

// 右侧动画
.#{$root-name}-right-enter-active,
.#{$root-name}-right-leave-active {
  transition:
    opacity $enter-duration $enter-ease,
    transform $enter-duration $enter-ease;
}

.#{$root-name}-right-leave-active {
  transition:
    opacity $leave-duration $leave-ease,
    transform $leave-duration $leave-ease;
}

.#{$root-name}-right-enter-to,
.#{$root-name}-right-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.#{$root-name}-right-enter-from,
.#{$root-name}-right-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
