@use 'mixins' as m;
@use 'functions' as fn;
@use 'vars';

// 方便拼接
$root-name: dropdown;

@include m.b($root-name) {
  @include m.e(content) {
    position: absolute;
    background-color: fn.use-var(bg-color, top);
    border: fn.use-var(border);
    border-radius: fn.use-var(radius, default);
    box-shadow: fn.use-var(shadow);
    top: 0;
    left: 0;
  }
}
