@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';

// 方便拼接
$root-name: table-editor;

@include m.b($root-name) {
  @include m.bem(table, body) {
    @include m.bem(table, cell) {
      padding: 2px;

      [class^='u-input'] {
        box-shadow: none;
      }

      & > [class^='u-'] {
        box-shadow: none;
      }
    }
  }
}
