@use 'pkg:@veltra/styles/mixins' as m;
@use 'pkg:@veltra/styles/functions' as fn;
@use 'pkg:@veltra/styles/vars';

$role-size: (
  main-title: (
    font-size: 18px,
    font-weight: 600,
    color: fn.use-var(text-color, title)
  ),
  title: (
    font-size: 16px,
    font-weight: 600,
    color: fn.use-var(text-color, main)
  ),
  sub-title: (
    font-size: 16px,
    font-weight: 500,
    color: fn.use-var(text-color, placeholder)
  ),
  content: (
    font-size: 14px,
    font-weight: 300,
    color: fn.use-var(text-color, second)
  ),
  additional: (
    font-size: 12px,
    font-weight: 300,
    color: fn.use-var(text-color, assist)
  )
);

@include m.b(text) {
  margin: 0;
  line-height: 1.3;
  overflow: hidden;
  position: relative;

  @each $role, $styles in $role-size {
    @include m.is(#{$role}) {
      @each $prop, $val in $styles {
        #{$prop}: $val;
      }
    }
  }

  @include m.is(italic) {
    font-style: italic;
  }

  @include m.is(bold) {
    font-weight: bold;
  }
}
